<div class="list-group sticky-top" style="top: 76px">
<% menus.forEach(function(menu){ %>
  <a href="/<%- path %>/<%- menu.url %>.html"
    class="list-group-item list-group-item-action
      <%= menu.class ? `list-group-item-${menu.class}`: '' %>
      <%= menu.url == current ? 'active': '' %>">
    <%- menu.name %>
  </a>
<% }); %>
</div>
