<!DOCTYPE html>
<html>
<head><title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="images/favicon.ico" rel="shortcut icon">
  <meta charset="UTF-8">
  <script src="/javascripts/vendor.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
</head>
<% var menus = {
  es6: [{
    name: '縮寫',
    url: 'shorthand'
  }, {
    name: 'this 的運作',
    url: 'this'
  }, {
    name: '箭頭函式',
    url: 'arrow_function'
  }, {
    name: '關注點分離',
    url: 'separation_of_concerns'
  }, {
    name: '關注點分離 練習題',
    url: 'separation_of_concerns_work'
  }, {
    name: '物件參考特性',
    url: 'object_reference'
  }, {
    name: 'Promise',
    url: 'promise'
  }, {
    name: 'ES Module',
    url: 'esModule'
  }, {
    name: 'ES 模組延伸觀念',
    url: 'esModule_2'
  }
  ],
  intro: [
    {
      name: '環境安裝',
      url: 'createApp'
    },
    {
      name: '基礎結構',
      url: 'basic_structure'
    },
    {
      name: '雙向綁定',
      url: 'two_way_binding'
    },
    {
      name: '資料操作',
      url: 'intro_add_data'
    },
    {
      name: '多筆畫面渲染',
      url: 'intro_render_vfor'
    },
    {
      name: '資料編輯',
      url: 'intro_edit_data'
    },
    {
      name: '最終成品細節調整',
      url: 'final'
    }
  ],
  template: [
    {
      name: '渲染資料於畫面上',
      url: 'v-text',
      class: 'success'
    },
    {
      name: '呈現多筆資料',
      url: 'v-for',
      class: 'success'
    },
    {
      name: '渲染判斷',
      url: 'v-if',
      class: 'success'
    },
    {
      name: '屬性綁定',
      url: 'v-bind',
      class: 'success'
    },
    {
      name: '樣式切換',
      url: 'v-style',
      class: 'success'
    },
    {
      name: 'v-model 與表單',
      url: 'form',
      class: 'danger'
    },
    {
      name: 'v-model 修飾符',
      url: 'v-model-modifiers',
      class: 'danger'
    },
    {
      name: 'v-on 事件觸發',
      url: 'v-on',
      class: 'info'
    },
    {
      name: 'v-on 修飾符',
      url: 'v-on-modifiers',
      class: 'info'
    },
    {
      name: '補充：v-on DOM 事件',
      url: 'v-on-dom-event',
      class: 'info'
    },
    {
      name: '章節挑戰',
      url: 'directive-final'
    }
  ],
  optionsApi: [
    {
      name: 'option API',
      url: 'options-api'
    },
    {
      name: 'Methods',
      url: 'options-methods'
    },
    {
      name: 'Computed',
      url: 'options-computed'
    },
    {
      name: 'Watch',
      url: 'options-watch'
    },
    {
      name: '元件生命週期',
      url: 'options-life-cycle'
    },
    {
      name: '章節挑戰',
      url: 'options-final'
    }
  ],
  components: [
    {
      name: '元件註冊',
      url: 'component_register'
    },
    {
      name: '元件樣板及綁定方式',
      url: 'component_template'
    },
    {
      name: 'Props',
      url: 'component_props'
    },
    {
      name: 'Props 型別與驗證',
      url: 'component_props_type'
    },
    {
      name: 'Emit 傳遞事件',
      url: 'component_emits'
    },
    {
      name: '元件插巢',
      url: 'component_slot'
    },
    {
      name: '元件插巢 Props',
      url: 'component_slot_props'
    },
    {
      name: '跨元件溝通',
      url: 'component_mitt'
    },
    {
      name: '元件章節作業',
      url: 'component_final'
    },
  ],
  advApi: [
    {
      name: 'Refs',
      url: 'adv-refs'
    },
    {
      name: 'Extend 擴展',
      url: 'adv-extend'
    },
    {
      name: 'Mixin 混合',
      url: 'adv-mixins'
    },
    {
      name: 'Telport',
      url: 'adv-teleport'
    },
    {
      name: '跨層級資料傳遞 Provide',
      url: 'adv-provide'
    },
    {
      name: '製作包含 v-model 的元件',
      url: 'adv-component-v-model'
    },
    {
      name: '自訂義指令',
      url: 'adv-directive'
    },
    {
      name: '外部套件引用',
      url: 'adv-use-plugin'
    },
    {
      name: '外部套件引用',
      url: 'adv-vee-validation'
    }
  ]
}; var description; %>
<body class="bg-lighter">
<div class="container my-5">
  <div class="row">
    <main class="col post">
      <!-- 章節標題 -->
      <div class="mb-4"><h1 class="mt-0 text-muted"><%= title %></h1><small>檔名：<code><%= current %>.html</code></small>
        <% if (description) { %>
          <div class="alert bg-light"><%- description %></div>
        <% } %>
      </div>
      <!-- 🔥🔥練習開始🔥🔥 -->
      <%- contents %>
      <!-- 🙇🙇練習結束🙇🙇 -->
    </main>
    <% if (menu) { %>
      <aside
        class="col-md-3"><%- include('partials/menu', {current: current, menus: menus[menu], path: menu}) %></aside>
    <% } %>
  </div>
</div>
<%- include partials/navbar %>
<link rel="stylesheet" href="/stylesheets/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</body>
</html>
